/* natural box model */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */
.main {
  background-color: #16161a;
}

/* Basic NAV BAR Styling was taken from W3 Schools */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16161a;

  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

li {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

/* Scale Effect from w3 Schools -- How TO - Zoom on Hover */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: transform 0.3s ease, text-shadow 0.3s ease, color 0.3s ease;


}

li a:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.8);

  color: #2cb67d;
}




h1,
h3 {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

p {
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}


.homeImage {
  /* border: 2px solid green; */
  width: 700px;
  height: 500px;
  margin-left: 8em;
  margin-right: 2em;
}

.homeDescription {
  /* border: 2px solid blue; */
  padding-left: 3em;
}

.homeDescription h1 {
  border-left: 9px solid #7f5af0;
  padding-left: 7px;
  color: #fffffe;
  font-size: 60px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 30px;
}

.homeDescription p {
  max-width: 50ch;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  color: white;
  font-size: 25px;
}

/* SLIDE IN ANIMATION */
/* Learned From: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations/Using_CSS_animations */
/* Asked CHATGPT how to use Keyframes. Query is in seperate document */
@keyframes leftSlide {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.leftSlide {
  opacity: 0;
  animation: leftSlide 1.5s ease-out forwards;
}

/* SLIDE IN ANIMATION */

.homeFlex1 {
  /* border: 2px solid purple; */
  display: flex;
  justify-content: center;
  margin-top: 5em;

}

.body {
  margin: 0;
  padding: 0;
}

.homeSection1 {
  width: 100vw, 100%;
  height: 710px;
  /* border: 2px solid green; */
  margin-bottom: 2em;
  padding-top: 1em;
}

.homeLast {
  text-align: center;
  /* margin-bottom: 3em; */
  padding-top: 5em;
}

.arrow {
  border: solid #fffffe;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.homeSection2 {
  background-color: #fffffe;
  text-align: center;
  height: auto;
}


/* .homeSection2AboutMe {
  padding-bottom: 3em;
  border: 2px solid red;
  max-width: 750px;
  min-width: 400px;
  height: 515px;
} */
.homeSection2AboutMe {
  padding-bottom: 3em;
  /* border: 2px solid red; */
  max-width: 750px;
  min-width: 400px;
  height: 515px;
  box-sizing: border-box;
  order: -1;
}

.hs2Scroll {
  /* border: 1px solid blue; */
  overflow-y: scroll;
  scrollbar-width: none;
  max-width: 750px;
  height: 410px;
  padding: 3em 7em;
}

.homeSection2AboutMe h1 {
  display: inline-block;
  border-bottom: 2px solid #7f5af0;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 50px;
  color: #0F0E17;
  font-weight: 500;
  padding-bottom: 10px;
  margin-right: 3.5em;
  margin-left: 3em;
  margin-bottom: 7px;
}

/* CAROUSEL */
/* .slideshow,
.details {
    max-width: 800px;
    height: auto;
    border: 1px solid #0F0E17;
} */
.slideshow {
  flex: 1;
  /* min-width: 500px; */
  width: auto;
  height: auto;
  overflow: hidden;
}

/* CAROUSEL */

.hs2Text {
  /* border: 2px solid black; */
  background-color: #0f0e17;
  color: white;
  margin-right: 11em;
  padding: 1em 2em;
  padding-bottom: 3em;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 3em;
}

.homeSection2Flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 500px;
}



/* PROJECT PAGE------------------------------------------------------------------------------ */

.projectSection1 {
  background-color: #16161a;
  padding-top: 10em;
  width: 100vw, 100%;
  height: 100%;
}

.projectSection1 h1 {
  color: #0F0E17;
}

.ps1Description p {
  color: #0F0E17;
}

.ps1Description {
  padding: 1em 3em;

}

.projectImage1 {
  width: 300px;
  height: 200px;

}

.projectImage4 {
  width: 300px;
  height: 300px;
}

/* .ps1Flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  border: 3px solid white;
  width: 800px;
  margin: 0 auto;
  background-color: #fffffe;
  margin-bottom: 5em;
  padding-left: 0;
} */
.ps1Flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 800px;
  margin: 0 auto;
  background-color: #0F0E17;
  margin-bottom: 2em;
  padding-left: 0;

  border: 5px solid;
}

/* Wanted to incorporate a gradient like we did in class to the border */
/* https://www.geeksforgeeks.org/gradient-borders/ */

.ps1Flex:hover {
  border: 5px solid;
  border-image-source: linear-gradient(194deg, rgba(127, 90, 240, 1) 22%, rgba(44, 182, 125, 1) 100%);
  border-image-slice: 1;
}

.ps1Flex h1,
.ps1Flex p {
  color: #fffffe;
}

.ps1Link {
  text-decoration: none;
  color: #fffffe;
  transition: transform 0.3s ease;
  display: inline-block;

}

a.ps1Link:hover {
  transform: scale(1.1);
}

.posterLink {
  color: #2cb67d;

}

.posterLink:hover {
  color: #7f5af0;
}

footer {
  background-color: #0F0E17;
  color: white;
  padding: 2em 2em;

}

/* PROJECT PAGE------------------------------------------------------------------------------ */

/* RESUME PAGE------------------------------------------------------------------------------ */
.resumeSection1 {
  background-color: #16161a;
  padding-top: 3em;
  width: 100vw, 100%;
  height: 900px;
}

.resumeSection1 h1 {
  color: #fffffe;
  font-size: 45px;
}

.resumeSection1 h3 {
  color: #fffffe;
  font-size: 30px
}

.resumeSection1 p {
  color: #fffffe;
  font-size: 20px;
  max-width: 30ch;


}

.resumeFlex {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: space-around;
  padding-top: 4em;
}

.resumeImage {
  width: 600px;
  height: auto;
  border: 3px solid lightslategray;
}

.resumeFlexDescription {
  /* border: 1px solid green; */
  margin-top: 1em;
  height: fit-content;
  margin-left: 8em;
}

.resumeLink {
  color: #7f5af0;

}

.resumeLink:hover {
  color: #2cb67d;
}

.resumeHeader {
  border-bottom: 2px groove #7f5af0;
  display: inline-block;
}

.resumeCategory {
  /* border: 1px solid blue; */
}

.resumeCategory p {
  /* border: 1px solid white; */
  margin-bottom: 1em;
  padding-bottom: 2em;
  margin-top: 0;
}

/* RESUME PAGE------------------------------------------------------------------------------ */

/* CONTACT PAGE------------------------------------------------------------------------------ */
.contactSection1 {
  background-color: #16161a;
  padding-top: 3em;
  width: 100vw, 100%;
  height: auto;
}

.contactSection1 h1 {
  color: #fffffe;
  font-size: 45px;
  /* border: 2px solid green; */
  /* padding-left: 4em; */
  text-align: center;

}

.contactSection1 a {
  display: block;
  /* border: 1px solid green; */
  padding-top: 22px;
  padding-left: 5px;
}

.fa-linkedin {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.fa-envelope {
  color: white;
  font-size: 25px;
  margin-right: 10px;

}

.fa-facebook {
  color: white;
  font-size: 25px;
  margin-right: 10px;

}

.fa-instagram {
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.fa-instagram:hover,
.fa-envelope:hover,
.fa-facebook:hover,
.fa-linkedin:hover {
  color: #7f5af0;
}

.email {
  text-decoration: none;
  color: #fffffe;
}

.email:hover {
  color: #7f5af0
}

.iconTitle1 {
  font-size: 25px;
}

.contactInfo {
  display: flex;
  /* border: 1px solid red; */
  padding-left: 1em;
  /* border-right: 1px solid #2cb6b1; */


}

.contactInfo1 {
  display: flex;
  color: white;
  font-size: 20px;
  align-items: center;
}

.contactInfo1 a {
  padding: 0 0 0 10px;

}

.contactInfo p {
  color: white;
  font-size: 20px;
  margin-right: 10px;

}

.contactFlexRow {
  display: flex;
  justify-content: space-around;
}

.contactImage {
  width: 350px;
  height: auto;
  margin-top: 2em;
}

.contactFlexCol {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  /* border: 1px solid yellow; */
  padding-left: 0;
}

.contactStatement {
  color: #fffffe;
  font-size: 35px;
  width: 400px;
  /* border: 1px solid yellow; */
}

.contactInfoContainer {
  /* border: 2px solid blue;  */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-left: 1px solid #2cb6b1;
  padding-left: 1em;

}

.socialMediaText {
  color: #fffffe;
  font-size: 25px;
  /* border: 1px solid yellow; */
  margin-bottom: 0;
}

/* CONTACT PAGE------------------------------------------------------------------------------ */

/* PROJECT1 PAGE------------------------------------------------------------------------------ */
.project1Section1 {
  background-color: #16161a;
  padding-top: 3em;
  width: 100vw, 100%;
  height: 100vw;
}

.project1Section1 h1 {
  color: #fffffe;
  font-size: 85px;
  border-bottom: 5px solid;
  /* Set border width */
  border-image-source: linear-gradient(194deg, rgba(127, 90, 240, 1) 22%, rgba(44, 182, 125, 1) 100%);
  border-image-slice: 1;
  /* Ensures the gradient spans the entire border */
  display: inline-block;
  margin-left: 40px;
}

/* PROJECT1 PAGE------------------------------------------------------------------------------ */




/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default */
.rectangle {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 30px;
  background-color: red;
  z-index: 1100;
}

/* Small devices (landscape phones, 576px and up) -------------------------------------------------------------*/
@media (min-width: 576px) {
  .rectangle {
    background-color: blue;
    width: 60px;
    height: 40px;
  }

  .homeImage {
    /* width: 400px;
    height: 300px;
    margin-left: 4em;
    margin-right: 2em;
    margin-top: 2em; */
    display: none;
  }

  .homeFlex1 {
    display: block;
    justify-content: center;
    margin-top: 5em;
  }

  .homeSection2Flex {
    display: block;
    /* justify-content: space-between; -------------------------------------------------------------*/

  }

  .homeSection2AboutMe {
    padding-bottom: 3em;
    /* padding-left: 11em; */
    /* overflow-y: scroll; */
    max-width: 750px;
    /* height: 515px; */
    height: 355px;

  }

  .hs2Scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    max-width: 750px;
    /* height: 410px; */
    height: 250px;
    padding: 3em 7em;
  }

  .ps1Flex {
    width: fit-content;
    text-align: center;
  }


  .projectImage1,
  .projectImage2,
  .projectImage3 {
    display: none;
  }

  .resumeImage {
    width: 400px;
  }

  .resumeFlex {
    /* border: 1px solid purple; */
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
  }

  .resumeFlexDescription {
    margin-left: 0;
    text-align: center;
  }

  .contactImage {
    display: none;
  }

  .contactStatement {
    padding-left: 1em;
  }

}

/* Medium devices (tablets, 768px and up) -------------------------------------------------------------*/
@media (min-width: 768px) {
  .rectangle {
    background-color: green;
    width: 60px;
    height: 40px;
  }

  .homeImage {
    width: 400px;
    height: 300px;
    margin-left: 4em;
    margin-right: 3em;
    margin-top: 4em;
    display: block;

  }

  .homeFlex1 {
    display: flex;
  }

  .homeSection2Flex {
    display: block;
  }

  .homeSection2AboutMe {
    padding-bottom: 3em;
    /* padding-left: 11em; */
    /* overflow-y: scroll; */
    /* max-width: 750px; */
    max-width: 100%;
    /* height: 515px; */
    height: 515px;

  }

  .hs2Scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    /* max-width: 750px; */
    max-width: 100%;
    /* height: 410px; */
    height: 410px;
    padding: 3em 7em;
  }

  .slideshow,
  .details {
    max-width: 100%;
    height: auto;
  }

  .ps1Flex {
    width: 600px;
    text-align: left;
  }

  .resumeImage {
    width: 500px;
  }

  .contactImage {
    width: 300px;
    height: auto;
    display: block;
  }

  .contactStatement {
    padding-left: 0;
  }
}



/* Large devices (desktops, 992px and up) -------------------------------------------------------------*/
@media (min-width: 992px) {
  .rectangle {
    background-color: orange;
    width: 60px;
    height: 40px;
  }

  .homeImage {
    width: 500px;
    height: 400px;
    margin-left: 6em;
    margin-right: 2em;
    margin-top: 2em;
    display: block;

  }

  .homeFlex1 {
    display: flex;
  }

  .homeSection2Flex {
    display: block;
  }

  .homeSection2AboutMe {
    padding-bottom: 3em;
    /* padding-left: 11em; */
    /* overflow-y: scroll; */
    /* max-width: 750px; */
    max-width: 100%;
    /* height: 515px; */
    height: 515px;

  }

  .hs2Scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    /* max-width: 750px; */
    max-width: 100%;
    /* height: 410px; */
    height: 410px;
    padding: 3em 7em;
  }

  .hs2Text {
    width: 500px;
  }

  .slideshow,
  .details {
    max-width: 100%;
    height: auto;
  }

  .homeSection2 {
    background-color: #fffffe;
    text-align: center;
    /* height: 460px; */
  }

  .ps1Flex {
    width: 800px;
  }


  .projectImage1,
  .projectImage2,
  .projectImage3 {
    display: block;
  }

  .resumeImage {
    width: 400px;
  }

  .resumeFlex {
    flex-direction: row;
  }

  .resumeFlexDescription {
    margin-left: 4em;
    text-align: left;
  }

  .contactImage {
    width: 300px;
    height: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) -------------------------------------------------------------*/
@media (min-width: 1200px) {
  .rectangle {
    background-color: purple;
    width: 60px;
    height: 40px;
  }

  .homeImage {
    width: 700px;
    height: 500px;
    margin: 0;
    display: block;
  }

  .homeFlex1 {
    display: flex;
  }

  .homeSection2Flex {
    display: flex;
    justify-content: space-between;
  }

  .slideshow {
    min-width: 600px;
  }

  .homeSection2AboutMe {
    min-width: 500px;
  }

  .hs2Scroll {
    overflow-y: scroll;
    scrollbar-width: none;
    max-width: 750px;
    height: 410px;
    padding: 3em 7em;
  }

  .resumeImage {
    width: 600px;
  }

  .resumeFlexDescription {
    margin-left: 8em;
    text-align: left;
  }

  .contactImage {
    width: 350px;
    height: auto;
  }
}


/* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {

} */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {

} */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {

} */

/* Extra large devices (large desktops)
No media query since the extra-large breakpoint has no upper bound on its width */